<!-- Loop over each object in the quizs array -->
{{#each quizzes as |quiz| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/quiz/{{quiz.id}}">{{quiz.quiz_name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">⏱</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{ quiz.needed_funding}}</span>
      minutes needed to complete this quiz!
    </p>
    <p>Created by {{quiz.user_id}} on 4/21/1454</p>
  </div>
  <div class="col-md-7">
    {{!-- <p>
      {{quiz.description}}
    </p> --}}
  </div>
</div>
{{/each}}