<div class="text-center mt-5">

  <div class="row">
  
    <div class="col-md-8">

      <h3>{{quiz_name}}</h3>
      <p class="mb-0">Created by {{user.username}} on {{quiz.date_created}}</p>
      <p>
        <span for="img" aria-label="Exclamation Question Marks">⁉️ </span>
        <span class="dollar-amount">{{question_length}}</span>
        questions long
      </p>
      <p>
        {{#if logged_in}}
        <button id="quiztaker" class="btn btn-primary">Take this Quiz!</button>
        {{else}}
        <a href="/login" class="btn-primary btn rounded p-3">Login to take this quiz!</a>
        {{/if}}
      </p>
      {{!-- {{#if author}}
      <button type="submit" class="btn btn-primary updater">Update</button>
      {{/if}} --}}
    </div>
    <div class="col-md-4">
      <form class="form new-comment-form">
        <div class="form-group">
          <label for="comment-desc">comment:</label>
          <textarea class="form-input ctarea" id="comment-desc" name="comment-desc"></textarea>
        </div>
        <div class="form-group">
           {{#if logged_in}}
         <button type="submit" class="btn btn-primary">submit</button>
        {{else}}
        <a href="/login" class="btn-primary btn rounded p-3">Login to comment</a>
        {{/if}}
        </div>
      </form>
    </div>
  </div>


  {{!-- <div class="updateform display-none col-md-8">
    <h3>Update Quiz Name:</h3>
    <form class="form update-project-form">
      <div class="form-group">
        <label for="update-name">Quiz Title:</label>
        <input class="form-input" type="text" id="update-name" name="update-name" />
      </div>
      <div class="form-group">
        <label for="update-desc">Question length:</label>
        <textarea class="form-input" id="update-desc" name="update-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
  </div> --}}


</div>

{{!-- <div class="c-title"></div> --}}


{{#if comments.length}}
  <div class="col-md-12 mt-4 comment-list c-box justify-center">
    <div class="c-title"></div>
    <h5 class="text-center mt-3">Comments</h5>

    {{#each comments as |comment|}}
    <div class="flex-row my-1 mx-auto c-div align-center col-10">
      
      <div class="col-md-9 text-left">
        <p class="my-auto ml-3">
          {{comment.description}}
        </p>
      </div>

      <div class="col-md-2">
        <p class="my-auto">{{comment.user_name}} on {{format_date comment.date_created}}</p>
        {{#if author}}
        <div class="col-md-1">
          <button class="btn btn-sm btn-danger" data-id="{{comment.id}}">DELETE</button>
        </div>
        {{/if}}
      </div>
          
    </div>
    {{/each}}
  </div>
{{/if}}








<script src="/js/quizPage.js"></script>